*{
    margin:0;
    padding:0;
}

.uni-head{
    color:rgb(30, 9, 151);
    font-size: 25px;
    background-image:url("photo2.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: unset;
    text-align: justify;
}
h1{
    background-color:rgb(72, 230, 230);
    color:darkblue;
}