#line1{
    color:blueviolet;
    font-style: italic;
    font-family: cursive;
    font-size: 40px;
    border: solid;
    border-color: brown;
    padding: 10%;
}
body{
    background-color:cadetblue;
}