li{
    list-style:none;
   
    padding:12px; 
    position:relative;

}

.sec1{
    float: left;
}
.sec2{
    width: 50%;
    float: right;
}
.sec1 ul{
    color:darkblue;
    font-family: inherit;
    font-style: unset;
   
}
.sec1 ul li{
    color:teal;
    font-family: inherit;
    font-style: unset;
}
.sec2 ul{
    color:darkblue;
    font-family: inherit;
    font-style: unset;
    
}
.sec2 ul li{
    color:teal;
    font-family: inherit;
    font-style: unset;
    
}
body{
    min-height:100vh;
    width:100%;
    background-image:url("pic4.jpg");
    background-position: center;
    background-size: cover;
}