h1{
    border:5px solid;
    width:400px;
    border-color:darkred;
    border-radius:200px;
    padding:5mm;
    padding-left:30mm;
}
p{
    border:dotted rebeccapurple;
    width:400px;
    padding:15px;
    margin:solid;
    height:75px;
    margin-left:600px;
}
 
#p1{
    border:solid red;
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 10px;
}