p{
    color:rgb(9, 151, 33);
    font-size: 25px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: unset;
    text-align: justify;
}

body{
    background-color:yellow;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}