*{
    margin:0;
    padding:0;
}

.header{
    min-height:100vh;
    width:100%;
    background-image: url("photo1.jpg");
    background-position: center;
    background-size: cover;
}
nav{
    display:flex;
    padding:2%;
    justify-content:space-between;
    align-items:center;
}
.nav-links{
flex:1;
text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline;
    padding:12px; 
    position:relative;

}
.nav-links ul li a{
    color:darkblue;
    text-decoration: none;
    font-size:25px;
}
.uni-head{
    width:80%;
    color:blue;
    position: absolute;
    top:75%;
    left:15%;
    text-align:center;
}
.uni-head h1{
    font-size:60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
}
.uni-head p{
    color:white;
    font-size: 23px;
}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color:wheat;
    border:1px solid;
    border-color:black;
    padding:12px 34px;
    position:absolute;
    top:65%;
    left:45%;
    
    cursor:pointer;
}
.visit-btn:hover{
    border:3px solid orangered;
    background:palevioletred;
}
#clock{
    width:800px;
    margin:300px;
    font-size:120px;
   text-align:center;
}